{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <div class="content">
<div class="column1of3">
    <h3>Anger/Violence</h3>
    <ol>

        <li>
            <p>
                <span class="leader"><i></i>Hair pulling/hitting:</span><span class="follower">
     Use the 'voice' of someone on par, as they may have regressed in age,
    while calling upon the words of a trusted adult, ie a parent, allowing the situation to shift
    the childlike state into respecting a known authority.<br>
     <em>Example: "My Mom says it isn't nice to...."</em></span>
            </p>
        </li>

        <li>
            <p>
                <span class="leader"><i></i>Accusations:</span><span class="follower"><br>The patient may notice
                something missing and is assuming someone stole it. Understand that they cannot recall where they
                put or if item has been gone a long time. Trying to rationalize will not help. Ask if they would
                like help searching for the item.</span>
            </p>
        </li>

        <li>
            <p>
                <span class="leader"><i></i>Bear in mind that distress leads to other emotions.</span>
                <span class="follower"> The issue of wanting to 'go home' may rise due to the patients longing for a
                time when they had more control over their own life. Creating a to-do ‘we will have to do x, but first let’s do y’
                is a distraction. This will help shift the moment and the mood.</span>
            </p>
        </li>

    </ol>
</div>

<div class="column2of3">
    <h3>Memory Loss/Age Regression</h3>
    <ol>
        <li>
            <p>
                <span class="leader"><i></i>Imagine how frightening it would be to lose your memory.</span><span class="follower">
            Due to age regression, you may be now dealing with a child or teen mentally and/or emotionally. Their attention span may be
            different, not to mention the fact that hearing may also be an issue!   Try not to have a lot of loud noise such as the TV or stereo playing when trying to speak with them. Use
                their name and speak slowly & clearly. Keep in mind that the music or TV choice can affect the patients mood.</span><br>
            </p>
        </li>
        <li>
            <p>
                <span class="leader"><i></i>Try not to give the person multiple tasks at any given time.</span><span
                    class="follower">
          <br>‘Please wipe your face.’ is a simple, actionable request. If the patient is reluctant, remain kind but firm. If they want to go outside,
              let them know that will happen as soon as they do the requested action.</span>
            </p>
        </li>
        <li>
            <p>
                <span class="leader"><i></i> Try to engage them as you would someone the age of the storyteller.</span>
<span class="follower">If the patient is telling a story from the point of view of a different age, simply listen.
                Telling them that they are 80 when they believe they are 25 will simply upset them.</span>
            </p>
        </li>
    </ol>
</div>
<div class="column3of3">
    <h3>Fear/Sadness</h3>
    <ol>
        <li>
            <p>
            <span class="leader"><i></i> Redirecting and Storytelling.</span><span class="follower">
        Should the patient become upset because they cannot find someone who may have passed on, you could say
                "I know you miss X very much. I know they love you and wish they could be here with you.”
                You could also ask them to tell you about the person he has asked about is a better way to
                calm a person with dementia. </span>
             </p>
            </li>
<li>
    <p>
            <span class="leader"><i></i> If they are focusing on something negative,</span><span class="follower">
                you might try to ask them to tell you about a specific event from the past in which they were happy,
                for example, their wedding day. Choosing one particular moment is better than a broad scope.
                <em>Example: “Will you tell me about....?"</em> </span>
</p>
        </li>
        <li>
        <p>

             <span class="leader"><i></i>If they are feeling especially fearful,</span><span class="follower">
        for example, not wanting to sleep alone in the dark, you can
                offer to sit and hold their hand or simply to sit next to them while they fall asleep. If they
                would prefer, offer to leave on a light and/or create white noise.</span>
        </p>
                 </li>
    </ol>
</div>
    </div>
{% endblock %}

