<!DOCTYPE html>
<html>
<head lang="en">
    <style>
        body {background-color: #fbf8ff}
        h1 {color: darkblue}
        p { font-family: Georgia, serif;
            font-size: 20px; }
    </style>
    <meta charset="UTF-8">
    <title> Caregiver Response </title>
</head>
<body>
    <h1> When you need a fresh perspective....</h1> <br />

    <p> Caregiver Response allows the user to type in a situation and kick back a
    response designed to help shift <br /> the moment to one that is less stressful for both the
    patient and the caregiver.</p>

    <p> The words we speak can be powerful, so why not use the ones that
    make the most difference in the lives <br /> of patients to help ourselves? </p>

    <p>This app is designed to create a better experience and give the user a better way
    to communicate, clearly and easily. <br /> You will be able to create a user profile that allows
    you to add phrases you find helpful & share with family members <br />
        or colleagues.
    Our objective is to help guide you while learning from your experiences to create better
    solutions for all.
    </p>


</body>
</html>