<!DOCTYPE html>

{%  load staticfiles %}

<html>

<head lang="en">
    <meta charset="UTF-8">
    <style>
        body {text-align: center;
            background-color: #FEF6FE;
        font-family: "Gotham", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif}

    </style>

    <title>Trees</title>
</head>

<body>
    <h1>Welcome to Caregiver Response</h1>
    <strong>{{ boldmessage }}</strong><br /><br>
    <a href="/care/about/">About</a><br />
    <a href="/care/situation_response/">Situation and Response</a><br /><br>

    <img src="{% static "images/Trees.jpg" %}" alt="Picture of Trees" />
</body>
</html>